# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/
.eggs/

# Environment
.env

# Temp / uploads
uploads/
tmp/
*.tmp
test_1.ipynb

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
